#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* src/App.css */ * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    overflow: hidden; /* This ensures that the content stays within the screen boundaries */
}

.square {
    width: 32px;
    height: 32px;
    background-color: black;
    position: absolute;
    transition: top 0.1s, left 0.1s; /* Smooth movement */
}