/* src/App.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.score {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}

.coordinates {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}

.square {
    width: 32px;
    height: 32px;
    background-color: black;
    position: absolute;
    transition: transform 0.05s; /* Smooth and fast transition */
}

.sprite {
    width: 16px;
    height: 16px;
    background-color: black;
    position: absolute;
    transition: transform 0.05s; /* Smooth and fast transition */
}

.collision-message {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
